.card {

    @include box-shadow($z1-shadow);

    .card__header, .card__body, .card__footer {
        padding: $gutter;
        border-style: solid;
        border-width: $thin-border-width;
    }

    .card__body {
        font-size: $small-font-size;
    }

    .card__header {
        border-bottom: 0;
        font-size: $medium-small-font-size;
    }

    .card__footer {
        border-top: 0;
        font-size: $medium-small-font-size;
    }

    &:hover {
        @include box-shadow($z2-shadow);
    }

    &:not(.card--selectable) {
        .card_header {
            cursor: default;
        }
    }
}

.card--full {
    width: 100%;
}

.card--fixed {
    position: relative;
    width: 285px;
    max-width: 285px;
    height: 135px;
    max-height: 135px;
    float: left;
}

$card-header-height: 56px;
.card--light {
    .card__header, .card__body, .card__footer{
        border-color: $mono-light;
    }

    .card__header {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        background: $mono-lighter;
        color: $medium-dark-mono;
        height: $card-header-height;
    }

    .card__body {
        position: absolute;
        top: $card-header-height;
        left: 0;
        right: 0;
        bottom: 0;
        background: $light-mono;
        color: $medium-dark-mono;
    }

    .card__footer {
        background: $mono-lighter;
        color: $medium-dark-mono;
    }
}

.card--selectable {
    cursor: pointer;

    .card__header {
        &.card__header--selected {
            background: $accent;
            color: $light-mono;
        }
    }

    &:hover {
        .card__header {
            &:not(.card__header--selected) {
                color: darken($mono-dark, 25%);
            }
        }
    }

    &:active {
        .card__header {
            &:not(.card__header--selected) {
                background: darken($mono-lighter, 5%);
            }
        }
    }
}

.card--rounded {
    .card__header, .card__body, .card__footer {
        &:first-child {
            @include border-top-left-radius(10px);
            @include border-top-right-radius(10px);
        }

        &:last-child {
            @include border-bottom-left-radius(10px);
            @include border-bottom-right-radius(10px);
        }
    }
}
