<div class="notifications notifications--accent">
    <div class="notifications__notification"
        ng-repeat="notification in notifications.notifications"
        ng-class="{ 'notifications__notification--accent': notification.type == 'success',
                    'notifications__notification--danger': notification.type == 'error' }">
        {{notification.message}}
    </div>
</div>
<div class="layout-header skin-header">
    <div s-row s-pxy="sm">
        <div s-col="11">
            <img ng-click="goToProfile()" t-font="interact" s-pull="left"
                 src="/assets/img/logo.png" alt="Graduation Guide"/>
            <span ng-if="isUserOnboarded" t-font="h4" s-mt="3">{{currentStep.name}}</span>
            <span ng-if="!isUserOnboarded" s-pull="left" style="width: 700px;"
                 class="breadcrumbs breadcrumbs--medium breadcrumbs--light">
                <span class="breadcrumbs__breadcrumb"
                     ng-repeat="step in wizardConfig.steps"
                     ng-disabled="!stepIsAvailable(step)"
                     ng-click="goToStep(step)"
                     ng-class="{'breadcrumbs__breadcrumb--active': step == currentStep }">
                    {{step.name}}
                </span>
            </span>
        </div>
        <div s-col="1">
            <div ng-if="!isUserOnboarded"
                 class="button button--rounded button--medium button--accent"
                 ng-click="finish()"
                 ng-disabled="!allStepsComplete()">
                <span t-font="h3 small-caps">Finish</span>
            </div>
        </div>
        <div s-col="1">
            <div ng-if="isUserOnboarded && editing" ng-click="saveProfile()"
                 class="button button--rounded button--medium button--primary">
                <span t-font="h3 small-caps">Save</span>
            </div>
        </div>
    </div>
</div>

<div class="layout-main skin-background">
    <div ui-view class="layout-main__content-box skin-content"></div>
</div>
