

.layout-header {
    @include skin-content;
    position: relative;
    height: $large-header-height;
    @include box-shadow($z1-shadow);
    z-index: 1;
}

.layout-main {
    background: $white;
    position: relative;
    bottom: 0;

    height: 100%;
    z-index: 0;
}


.layout-main__content-box {
    position: relative;
    height: 100%;
    bottom: 0;
}
