

.layout-header {
    @include skin-content;
    //@include skin-header;
    //background: $white;

    position: relative;
    //top: 0;
    //left: 0;
    //right: 0;
    //height: $large-header-height;

    @include box-shadow($z1-shadow);

    //.logo {
    //    position: absolute;
    //    top: $gutter * 3 / 4;
    //    left: $gutter;
    //}
}

.layout-main {
    background: $white;
    height: 100%;
}


.layout-main__content-box {

}
