<div class="row" s-px="8" s-py="4">
    <!--USER EMAIL-->
    <div class="row" s-pb="4">
        <span t-font="h2">{{CurrentUser.email}}</span>
    </div>
    <!--USER MAJORS-->
    <div class="row" s-pb="4">
        <div class="row" s-pb="2">
            <span t-font="h5 small-caps">Majors</span>
        </div>
        <div ng-repeat="major in CurrentUser.majors" class="row">
            <div>{{major.name}}</div>
        </div>
    </div>
    <!--USER TRACKS-->
    <div class="row" s-pb="4">
        <div class="row" s-pb="2">
            <span t-font="h5 small-caps">Tracks</span>
        </div>
        <div ng-repeat="track in CurrentUser.tracks" class="row">
            <div>{{track.name}}</div>
        </div>
    </div>
    <!--USER MINORS-->
    <div class="row" s-pb="4">
        <div class="row" s-pb="2">
            <span t-font="h5 small-caps">Minors</span>
        </div>
        <div ng-repeat="minor in CurrentUser.minors" class="row">
            <div>{{minor.name}}</div>
        </div>
    </div>

</div>