<div s-row s-pt="4" s-pb="8" s-px="4">
    <div class="6">
        <h1 t-font="h1">Select the Courses You Have Already Completed</h1>
    </div>
</div>
<div s-row s-px="4" s-pb="12">
    <div s-col="12">
        <input placeholder="Search Courses" class="input input-sm" ng-model="courseSearch"/>
    </div>
</div>
<div s-row s-px="8">
    <div class="col-12">
        <div ng-repeat="course in courses | filter:courseSearch"
             s-mb="4" s-mr="4"
             class="card card--fixed card--selectable card--light"
             ng-click="selectCourse(course)">
            <div class="card__header"
                 ng-class="{ 'card__header--selected': isSelected(course) }">
                {{ course.name }} <i s-pull="right" s-pl="2"
                                     ng-click="goToCourseCritique(course, $event)" class="fa fa-external-link"></i>
            </div>
            <div class="card__body">{{ course.description }}</div>
        </div>
    </div>
</div>
<div ui-view></div>
