<div class="row">
    <div class="col-12" s-py="4">
        <h1>Select Your Minors</h1>
    </div>
</div>
<div class="row" s-pb="8">
    <div class="col-6">
        <input placeholder="Search Minors" class="input input-sm" ng-model="minorSearch"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div s-mb="2" s-mr="2"
             class="card card--fixed card--light card--selectable"
             ng-repeat="minor in minors | filter:minorSearch" ng-click="selectMinor(minor)" class="row">
            <div class="card__header"
                ng-class="{'card__header--selected': isSelected(minor)}">
                {{minor.name}}
            </div>
            <div class="card__body">{{minor.description}}</div>
        </div>
    </div>
</div>
