<div class="row">
    <div class="col-12" s-pt="4" s-pb="8">
        <h1 t-font="h1">Select Your Majors</h1>
    </div>
</div>
<div class="row" s-pb="8">
    <div class="col-6">
        <input placeholder="Search Majors" class="input input-sm" ng-model="majorSearch"/>
    </div>
</div>
<div class="row" s-pb="12">
    <div class="col-12">
        <div s-mr="2" s-mb="2"
             class="card card--fixed card--light card--selectable"
             ng-repeat="major in majors | filter:majorSearch" ng-click="selectMajor(major)">
            <div class="card__header"
                ng-class="{'card__header--selected': isSelected(major)}">
                {{ major.name }}
            </div>
            <div class="card__body">{{major.description}}</div>
        </div>
    </div>
</div>
<div ng-if="CurrentUser.majors && CurrentUser.majors.length">
    <div class="row" s-pb="8">
        <div class="col-12" s-pt="4">
            <h2 t-font="h2">Select Your Tracks</h2>
        </div>
    </div>
    <div class="row" s-pb="8">
        <div class="col-6">
            <input placeholder="Search Track" class="input input-sm" ng-model="trackSearch"/>
        </div>
    </div>
    <div ng-repeat="major in CurrentUser.majors" s-pb="8">
        <div class="row">
            <div class="col-12" s-pb="4">
                <h5 t-font="small-caps h5" c-text="">{{major.name}} Tracks</h5>
            </div>
        </div>
        <div class="row" s-px="4">
            <div s-mr="2" s-mb="2"
                 class="card card--fixed card--light card--selectable"
                 ng-repeat="track in major.tracks | filter:trackSearch" ng-click="selectTrack(track)">
                <div class="card__header"
                     ng-class="{'card__header--selected': isTrackSelected(track)}">
                    {{track.name}}
                </div>
                <div class="card__body">{{track.description}}</div>
            </div>
        </div>
    </div>
</div>
